@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Arimo", sans-serif;
  background-color: black;
  color: white;
  overflow-x: hidden;
}

/* ============================= */
/* 🔥 SWIPER NAVIGATION ARROWS */
/* ============================= */

.swiper-button-next,
.swiper-button-prev {
  color: #fbbf24 !important;
  width: 44px;
  height: 44px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 30px;
  font-weight: 700;
}

/* ============================= */
/* 🔥 SWIPER PAGINATION DOTS */
/* ============================= */

.swiper-pagination {
  bottom: 20px !important;
}

.swiper-pagination-bullet {
  background-color: rgba(255, 255, 255, 0.6) !important;
  opacity: 1 !important;
  width: 10px !important;
  height: 10px !important;
}

.swiper-pagination-bullet-active {
  background-color: #fbbf24 !important;
}
/* Minimal Dark Scrollbar */

/* Width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0f0f0f;
}

/* Thumb */
::-webkit-scrollbar-thumb {
  background: #2a2a2a;
  border-radius: 10px;
  transition: background 0.3s ease;
}

/* Hover */
::-webkit-scrollbar-thumb:hover {
  background: #3a3a3a;
}
